{% load staticfiles %}

<div class="container">
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'blog:index' %}">
                <img src="{% static 'images/a_icon.jgp' %}" alt="logo" width="100px">
            </a>
        </div>

        <div>

            <ul class="nav navbar-nav" role="navigation">
                <li><a href="{% url 'blog:index'%}">Blog</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Login</a></li>
            </ul>

        </div>
    </nav>
</div>
